@media (max-width: 1300px) {
  .sidebar {
    position: fixed;
    left: 0px;
    top: 55px;
    bottom: 0px;

    width: 72px;
    background-color: white;
    z-index: 200;
    padding-top: 5px;
    display: none;
  }

  .short-sidebar {
    display: block;
  }

  body {
    padding-left: 96px;
  }
}

@media (min-width: 1300.1px) {
  .sidebar {
    position: fixed;
    left: 0px;
    top: 55px;
    bottom: 0px;

    width: 205px;
    background-color: white;
    z-index: 200;
    padding-top: 5px;
    display: block;
  }

  .short-sidebar {
    display: none;
  }
}

@media (max-width: 550px) {
  .sidebar-container {
    display: none;
  }

  body {
    padding-left: 24px;
  }

  body.short-sidebar-active {
    padding-left: 24px;
  }
}

.sidebar-link:hover {
  background-color: rgb(233, 231, 231);
  cursor: pointer;
}

@media (min-width: 550.1px) {
  .short-sidebar {
    position: fixed;
    left: 0px;
    top: 55px;
    bottom: 0px;

    width: 72px;
    background-color: white;
    z-index: 200;
    padding-top: 5px;
  }

  .short-sidebar-active .short-sidebar {
    display: block;
  }
  .short-sidebar-active .sidebar {
    display: none;
  }

  .short-sidebar-thing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 10px;
  }

  .short-sidebar-thing img {
    width: 28px;
    margin-bottom: 6px;
  }

  .short-sidebar-thing p {
    font-size: 12px;
    font-family: Roboto, Arial;
  }
}

/*
  */
.sidebar {
  padding: 15px;
}

.sidebar img {
  width: 25px;
  margin-right: 20px;
}

.sidebar .container {
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.sidebar .container::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 100%;
  background-color: rgb(209, 209, 209);
}

.sidebar .sidebar-thing {
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  padding: 8px 5px;
  border-radius: 10px;
}
.sidebar .sidebar-thing:hover {
  background-color: rgb(218, 218, 218);
}
.sidebar .sidebar-thing:active {
  background-color: rgb(185, 185, 185);
}

.container .you {
  font-weight: 500;
  width: 100%;
  cursor: pointer;
  padding: 10px 5px;
  border-radius: 10px;
}
.container .you:hover {
  background-color: rgb(218, 218, 218);
}
.container .you:active {
  background-color: rgb(185, 185, 185);
}

.container .subs {
  font-weight: 500;
  width: 100%;
}

.container .profile img {
  width: 30px;
  border-radius: 20px;
  margin: 5px 15px 5px 0px;
}
.container .profile p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.container .profile {
  display: flex;
  align-items: center;
  justify-content: left;
  cursor: pointer;
  padding: 3px;
  border-radius: 10px;
}
.container .profile:hover {
  background-color: rgb(218, 218, 218);
}
.container .profile:active {
  background-color: rgb(185, 185, 185);
}

.short-sidebar-thing:hover {
  background-color: rgb(233, 231, 231);
  cursor: pointer;
}
