
.header{
    display: flex;
    flex-direction: row;
    height: 55px;
    justify-content: space-between;
    background-color: white;

    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(223, 223, 223);

    z-index: 100;
  }

  .left-section{
    display: flex;
    align-items: center;
  }

  .hamburger-menu{
    width: 24px;
    margin-left: 24px;
    margin-right: 24px;
    cursor: pointer;
  }

  .youtube-logo{
    width: 90px;
  }

  .middle-section{
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
  }

  .searchBox{
    flex: 1;
    height: 35px;
    padding-left: 10px;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    font-size: 16px;
    width: 0;
  }
  .searchBox::placeholder{
    font-family: Roboto, Arial;
    font-size: 16px;
    color: rgb(139, 139, 139);;
  }

  .search-button{
    width: 62px;
    height: 39px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(197, 197, 197);
    margin-left: -1px;
    margin-right: 10px;
    background-color: rgba(240, 240, 240, 0.658);
    cursor: pointer;
  }

  .search-button, 
  .voice-button,
  .upload-icon-container,
  .youtube-apps-container,
  .notif-icon-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .search-icon{
    width: 24px;
  }

  .search-button .tooltip,
  .voice-button .tooltip,
  .upload-icon-container .tooltip,
  .youtube-apps-container .tooltip,
  .notif-icon-container .tooltip{
    position: absolute;
    bottom: -50px;
    background-color: gray;
    color: white;
    padding: 8px 5px;
    font-family: Roboto, Arial;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
    font-size: 12px;
  }

  .search-button:hover .tooltip,
  .voice-button:hover .tooltip,
  .upload-icon-container:hover .tooltip,
  .youtube-apps-container:hover .tooltip,
  .notif-icon-container:hover .tooltip{
    opacity: 1;
  } 

  .voice-button{
    width: 38px;
    height: 38px;
    border: none;
    border-radius: 20px;
    background-color: rgba(240, 240, 240, 0.486);;
  }
  .voice-icon{
    width: 24px;
  }

  .right-section{
    width: 190px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 25px;
    flex-shrink: 0;
  }

  .upload-icon{
    width: 24px;
  }

  .apps-icon{
    width: 24px;
  }

  .notif-icon{
    width: 24px;
  }

  .current-profile-pic{
    width: 32px;
    border-radius: 16px;
  }

  .notif-count{
    position: absolute;
    background-color: rgb(196, 2, 2);
    color: white;
    right: -3px;
    top: -1px;
    font-size: 10px;
    padding: 1px 5px;
    border-radius: 10px;
    font-family: Roboto, Arial;
  }

  .video-link{
    text-decoration: none;
    color: black;
  }