.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 40px;
}

@media (max-width:1500px) {
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width:950px){
  .video-grid{
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width:600px){
  .video-grid{
    grid-template-columns: 1fr;
  }
}

.thumbnail {
  width: 100%;
}

.image-box {
  margin-bottom: 5px;
  position: relative;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-pic {
  width: 38px;
  border-radius: 20px;
}

.video-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 7px;
  line-height: 22px;
}

.channel-name,
.channel-misc {
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-bottom: 3px;
}

.video-time{
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 5px;
  font-family: Roboto, Arial;
  font-weight: 500;
  padding: 3px 4px;
  font-size: 13px;
  border-radius: 2px;
}

.video-link{
  text-decoration: none;
  color: black;
}

.information-header{
  display: flex;
  justify-content: space-between;
}

.video-settings{
  width: 22px;
  padding: 5px;
  border-radius: 20px;
  cursor: pointer;
}

.video-settings:active{
  background-color: rgb(201, 201, 201);
}

.video-settings-box{
  position: relative;
}

.settings-popup{
  position: absolute;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  display: none;
  background-color: white;
  z-index: 100;
}

.popup-setting{
  display: flex;
  padding: 10px;
  font-size: 16px;
  font-family: Roboto,Arial;
  align-items: center;
  cursor: pointer;
  margin: 5px 0px 5px 0px;
}
.popup-setting:hover{
  background-color: rgb(224, 224, 224);
}
.popup-setting:active{
  background-color: rgb(202, 202, 202);
}

.popup-setting img{
  width: 25px;
  margin-right: 10px;
}